@font-face {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
}
@font-face {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
}
@font-face {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
}
@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");
}
@font-face {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&display=swap");
}
:root {
  --neutral-000: hsl(0, 0%, 100%);
  --neutral-100: hsl(0, 0%, 70%);
  --neutral-200: hsl(0, 0%, 60%);
  --neutral-300: hsl(0, 0%, 40%);
  --neutral-400: hsl(0, 0%, 35%);
  --neutral-500: hsl(0, 0%, 30%);
  --neutral-600: hsl(0, 0%, 20%);
  --neutral-700: hsl(0, 0%, 15%);
  --neutral-800: hsl(0, 0%, 10%);
  --neutral-900: hsl(0, 0%, 5%);
  --neutral-1000: hsl(0, 0%, 0%);
  --primary-100: hsl(22, 100%, 99%);
  --primary-200: hsl(22, 100%, 97%);
  --primary-300: hsl(22, 100%, 95%);
  --primary-400: hsl(22, 100%, 90%);
  --primary-500: hsl(22, 100%, 80%);
  --primary-600: hsl(22, 100%, 75%);
  --primary-700: hsl(22, 100%, 70%);
  --primary-800: hsl(22, 100%, 65%);
  --primary-900: hsl(22, 100%, 60%);
  --accent-100: hsl(216, 75%, 95%);
  --accent-200: hsl(216, 75%, 82.5%);
  --accent-300: hsl(216, 75%, 70%);
  --accent-400: hsl(216, 75%, 60%);
  --accent-500: hsl(216, 75%, 50%);
  --accent-600: hsl(216, 75%, 40%);
  --accent-700: hsl(216, 75%, 30%);
  --accent-800: hsl(216, 75%, 17.5%);
  --accent-900: hsl(216, 75%, 7.5%);
  --fs-1: 0.25rem;
  --fs-2: 0.5rem;
  --fs-3: 0.75rem;
  --fs-4: 1rem;
  --fs-5: 1.25rem;
  --fs-6: 1.5rem;
  --fs-7: 1.75rem;
  --fs-8: 2rem;
  --fs-14: 0.875;
  --fs-15: 0.9375;
  --fs-16: 1rem;
  --fs-18: 1.1rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-25: 1.6rem;
  --fs-28: 1.8rem;
  --fs-30: 1.87rem;
  --fs-32: 2rem;
  --fs-34: 2.125rem;
  --fs-38: 2.375rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-50: 3.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: var(--fs-400);
  color: var(--neutral-700);
  background-color: var(--primary-200);
  line-height: 1.5;
  scroll-behavior: smooth;
  position: relative;
}

a {
  color: var(--neutral-900);
  text-decoration: none;
}

a:is(:hover, :focus) {
  color: var(--neutral-800);
}

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-400);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.75em 2em;
  border: 0;
  border-radius: 0.5rem;
  transition: 275ms ease;
}
.button[data-type=accent] {
  background-color: var(--accent-400);
  color: var(--neutral-100);
}
.button[data-type=accent]:is(:hover, :focus) {
  background-color: var(--accent-500);
  color: var(--neutral-100);
}
.button[data-type=primary] {
  background-color: var(--primary-400);
  color: var(--neutral-600);
}
.button[data-type=primary]:is(:hover, :focus) {
  background-color: var(--primary-800);
  color: var(--neutral-600);
}

.card-1__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
  grid-row-gap: 68px;
  grid-column-gap: 20px;
}

.card-1 {
  scale: 0.8;
  opacity: 0;
  position: relative;
  padding: 60px 40px 40px 40px;
  display: grid;
  row-gap: 1rem;
  grid-row: span 2;
  grid-template-rows: subgrid;
  background-color: white;
  transition: all 0.8 ease-in-out;
}
.card-1__img {
  position: absolute;
  padding: 16px;
  top: -32px;
  left: 24px;
  background-color: var(--primary-400);
}
.card-1__title {
  font-size: var(--fs-24);
}
.card-1__desc {
  line-height: 150%;
}

.fade__in {
  scale: 0.8;
  opacity: 0;
  animation: fade-in ease-in-out forwards;
  animation-timeline: view();
  animation-range: 10% 50%;
  animation-duration: 0.7s;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
.card-2 {
  padding: var(--fs-40);
  text-align: center;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  row-gap: 24px;
  transition: translate 0.6s ease-in-out;
}
.card-2 .profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-2 .stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-3 {
  padding: 60px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  row-gap: 40px;
}
.card-3__title {
  font-size: var(--fs-34);
  border-bottom: 2px dashed black;
  padding-bottom: var(--fs-24);
}
.card-3__button {
  font-size: var(--fs-18);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 18px;
  cursor: pointer;
}

.card-4 {
  flex-basis: 47%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.card-4__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-38);
}
.card-4__body {
  line-height: 150%;
}

.historycard {
  padding: 100px;
}
.historycard .history {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 80px;
}
.historycard .history__year {
  display: flex;
  gap: 10px;
  padding: 25px 34px;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-48);
}
.historycard .history__desc {
  flex: 1;
}
.historycard .history__desc__title {
  font-size: var(--fs-24);
  margin-bottom: 1rem;
}
.historycard .history:last-child {
  margin-bottom: 0;
}

.card-5__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.375rem, 1fr));
  gap: 2.5rem;
}

.card-5 {
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-5 .col {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 40%;
  width: 20%;
  height: 65%;
  background-color: var(--primary-200);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.card-5 .col2 {
  position: absolute;
  z-index: 3;
  top: 25%;
  left: 0;
  width: 100%;
  height: 5.9375rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.card-5__img {
  margin-bottom: 2.5rem;
  z-index: 5;
}
.card-5__title {
  margin-bottom: 0.875rem;
  font-size: var(--fs-24);
}
.card-5__desc {
  color: var(--neutral-500);
}

.card-6 {
  padding: 40px;
  padding-top: 10.625rem;
  position: relative;
  margin-bottom: 13.25rem;
}
.card-6__images {
  display: flex;
  gap: 2.5rem;
  position: absolute;
  top: -5.75rem;
  justify-content: space-between;
}
.card-6__images__img {
  flex: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.card-6__title {
  font-size: var(--fs-34);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-6__title .card__buttons {
  display: none;
}
.card-6__title .card__button {
  padding: 0.75rem;
  margin-left: 1rem;
}
.card-6__desc {
  font-size: var(--fs-20);
}

.card-6:last-child {
  margin-bottom: 0;
}

.card-7 {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;
}
.card-7__sl {
  font-size: 3.75rem;
  padding: 0.625rem 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.card-7__line {
  width: 0.75rem;
  height: 100%;
  background-color: var(--primary-500);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
.card-7__line .line {
  width: 3px;
  height: 100%;
  background-color: black;
  background-position: center;
}
.card-7__body {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.card-7__body__title {
  font-size: 1.875rem;
}
@media (max-width: 600px) {
  .card-1__wrapper {
    gap: 68px;
  }
  .card-1__title {
    font-size: var(--fs-22);
  }
  .card-1__button {
    font-size: var(--fs-4);
  }
  .card-3__title {
    font-size: var(--fs-28);
  }
  .card-4 {
    padding: 30px;
    gap: 40px;
  }
  .card-4__head {
    font-size: var(--fs-30);
  }
  .historycard .history__year {
    font-size: var(--fs-38);
  }
  .historycard .history__desc__title {
    font-size: var(--fs-22);
    margin-bottom: 12px;
  }
  .card-5__title {
    font-size: var(--fs-22);
  }
  .card-6 {
    margin-bottom: 12.3125rem;
  }
  .card-6__images {
    justify-content: center;
    align-items: center;
  }
  .card-6__images .visible {
    display: block;
  }
  .card-6__images .invisible {
    display: none;
  }
  .card-6__title {
    font-size: var(--fs-22);
    flex-direction: column-reverse;
    gap: 1.25rem;
  }
  .card-6__title .card__buttons {
    display: block;
  }
  .card-6__desc {
    font-size: var(--fs-4);
    text-align: center;
  }
  .card-6:last-child {
    margin-bottom: 0;
  }
  .card-7 {
    grid-row: span 3;
    justify-content: center;
    margin-bottom: 3.3125rem;
  }
  .card-7__line {
    margin-left: 0;
    height: 3.75rem;
    margin-left: 12%;
  }
  .card-7:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 850px) {
  .historycard {
    padding: 50px;
  }
  .historycard .history {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 12px;
    align-items: flex-start;
  }
  .card-6__images {
    justify-content: center;
    align-items: center;
  }
  .card-6__images .visible {
    display: block;
  }
  .card-6__images .invisible {
    display: none;
  }
  .card-6__title .card__buttons {
    display: block;
  }
}
@media (max-width: 1280px) {
  .card-6__images {
    justify-content: center;
    align-items: center;
  }
  .card-6__images .visible {
    display: block;
  }
  .card-6__images .invisible {
    display: none;
  }
  .card-6__title .card__buttons {
    display: block;
  }
}
.heading-1 {
  font-size: var(--fs-900);
  color: var(--neutral-900);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

.heading-2 {
  font-size: var(--fs-800);
  color: var(--neutral-900);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

.heading-3 {
  font-size: var(--fs-700);
  color: var(--neutral-900);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.1;
}

.site-header {
  color: var(--neutral-900);
  background-color: var(--primary-300);
  padding: 2rem 0;
}
.site-header__inner {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 45em) {
  .site-header__inner {
    justify-content: space-between;
  }
}

.nav {
  --flex-column-gap: 2.5rem;
  list-style: none;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.nav a {
  color: var(--neutral-900);
  text-decoration: none;
}
.nav a:is(:hover, :focus) {
  color: var(--primary-300);
}

.contact-form .form-group {
  display: grid;
}

.label {
  color: var(--neutral-700);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: var(--fs-400);
}

.input:not(.button) {
  font-size: var(--fs-400);
  font-weight: 600;
  color: var(--neutral-700);
  background-color: var(--neutral-100);
  padding: 0.75rem;
  border: 3px solid var(--primary-200);
  border-radius: 0.375rem;
}

::-moz-placeholder {
  color: var(--primary-300);
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

::placeholder {
  color: var(--primary-300);
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.site-footer {
  background-color: var(--primary-300);
  color: var(--primary-900);
}
.site-footer a {
  color: var(--neutral-100);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0;
}
.site-footer a:is(:hover, :focus) {
  color: var(--primary-200);
}

.nav_container {
  max-width: 1399px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: var(--neutral-000);
  border: 2px solid var(--neutral-700);
  overflow: hidden;
}

.navbar {
  height: 60px;
  position: relative;
  margin-bottom: 60px;
}

.logo {
  background-color: var(--primary-900);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.25rem;
  border-right: 2px solid var(--neutral-700);
  margin-right: 2rem;
  min-width: -moz-max-content;
  min-width: max-content;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-elements ul li {
  padding: 1rem 1.25rem;
  border-left: 2px solid var(--neutral-700);
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--neutral-700);
}

.nav-elements ul a.active {
  font-weight: 500;
  position: relative;
  color: var(--primary-200);
}

.nav-elements ul li:hover {
  font-weight: 500;
  position: relative;
  background-color: var(--primary-200);
}

@media (max-width: 850px) {
  .nav_container {
    margin: 0 1rem;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
  }
  .nav-elements {
    position: fixed;
    z-index: 99;
    right: -10px;
    top: 60px;
    background-color: var(--primary-300);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .nav-elements.active {
    width: 100%;
    right: 0;
    border: 2px solid var(--neutral-700);
    border-radius: 8px;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-elements ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid var(--neutral-700);
    height: 100%;
    padding: 1rem 1.25rem;
  }
}
.hero {
  display: flex;
  gap: var(--fs-50);
  margin-bottom: 150px;
}
.hero__img {
  flex: 1;
}
.hero__img img {
  width: 100%;
  height: 95%;
}
.hero__descrption {
  flex: 1;
  margin: auto auto;
}
.hero__descrption__welcome {
  font-size: var(--fs-18);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.hero__descrption__title {
  font-size: var(--fs-40);
  line-height: 120%;
  margin-bottom: var(--fs-20);
}
.hero__descrption__para {
  margin-bottom: var(--fs-50);
  font-size: 16px;
}
.hero__descrption__stats {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
}
.hero__descrption__stats .stat {
  flex: 1;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .hero__descrption {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .hero__img {
    margin-bottom: 2.5rem;
  }
  .hero__descrption {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .hero__descrption__welcome {
    margin-bottom: 10px;
    font-size: var(--fs-4);
  }
  .hero__descrption__title {
    font-size: var(--fs-30);
    margin-bottom: 18px;
  }
  .hero__descrption__para {
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .hero__descrption__stats {
    text-align: center;
    background-color: var(--primary-300);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  .hero__descrption__stats .stat {
    border-bottom: 2px solid black;
    height: 75px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .hero__descrption__stats .stat_number {
    font-size: var(--fs-34);
  }
}
.layout-1 {
  width: 100%;
}
.layout-1__tag {
  padding: 8px 14px;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.layout-1__title {
  font-size: var(--fs-48);
  margin-top: 14px;
  margin-bottom: 14px;
}
.layout-1__para {
  max-width: 870px;
  margin-inline: auto;
  margin-bottom: 80px;
  line-height: 150%;
}

@media (max-width: 600px) {
  .layout-1__tag {
    font-size: var(--fs-14);
    width: auto;
  }
  .layout-1__title {
    font-size: var(--fs-38);
  }
}
.caresoul {
  max-width: 1050px;
  margin: 0 auto;
}
.caresoul__grid_wrapper {
  overflow-inline: scroll;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 16px);
  margin-bottom: var(--fs-40);
  scroll-behavior: smooth;
  scrollbar-width: 0;
  overflow: scroll;
}
.caresoul__grid_wrapper::-webkit-scrollbar {
  display: none;
}
.caresoul__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--fs-20);
}
.caresoul__buttons__left, .caresoul__buttons__rigth {
  padding: 12px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .caresoul__grid_wrapper {
    grid-auto-columns: calc(50% - 16px);
  }
}
@media (max-width: 600px) {
  .caresoul__grid_wrapper {
    grid-auto-columns: calc(100% - 16px);
  }
}
.accordian {
  display: grid;
  grid-template-columns: repeat(2, minmax(358px, 1fr));
  gap: 40px;
}
.accordian .accord {
  translate: 0 140%;
  opacity: 0;
  animation: fade ease-in-out forwards;
  animation-duration: 0.6s;
  animation-timeline: view();
  animation-range: 0% 25%;
  padding: 26px 30px;
  flex-basis: calc(50% - 50px);
  height: -moz-fit-content;
  height: fit-content;
}
.accordian .accord__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordian .accord__head .plusminus {
  padding: 9.3px;
}
.accordian .accord__body {
  max-height: 0;
  transition: all 0.6s ease-in-out;
  scale: 0.5;
  opacity: 0;
}
.accordian .accord__body__show {
  scale: 1;
  max-height: 500px;
  opacity: 1;
}
.accordian .accord .accord__body__active {
  opacity: 1;
}
.accordian .accord .underline {
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

@media (max-width: 900px) {
  .accordian {
    grid-template-columns: repeat(1, minmax(358px, 1fr));
  }
}
@keyframes fade {
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.explorecards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  row-gap: var(--fs-40);
  -moz-column-gap: var(--fs-40);
       column-gap: var(--fs-40);
}

@media (max-width: 950px) {
  .explorecards {
    grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
  }
}
.footer {
  padding: 100px 113px 40px 113px;
  margin-bottom: 20px;
}
.footer__first {
  display: flex;
  gap: 80px;
}
.footer__first__left {
  flex-basis: 40%;
  height: -moz-min-content;
  height: min-content;
}
.footer__first__left .desc {
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.footer__first__left .contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.footer__first__left .contacts .contact {
  padding: 8px;
}
.footer__first__right {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.footer__first__right .right__page {
  margin-bottom: 20px;
}
.footer__first__right .right__sections {
  margin-bottom: 14px;
}
.footer__second {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.footer__second .policies {
  flex: 1;
  display: flex;
  flex-basis: content;
}
.footer__second .policies .policy {
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
}
.footer__second .policies .policy:last-child {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}
.footer__second .socials {
  display: flex;
}
.footer__second .socials .social {
  padding: 14px;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 14px;
}
.footer__second .socials .social:last-child {
  margin-right: 0px;
}

@media (max-width: 950px) {
  .footer {
    padding: 60px 30px;
  }
  .footer__first {
    flex-direction: column;
    gap: 40px;
  }
  .footer__first__left {
    text-align: center;
  }
  .footer__first__left .desc {
    margin-bottom: 40px;
  }
  .footer__first__left .left_logo {
    margin: 0 auto;
  }
  .footer__second {
    justify-content: center;
  }
  .footer__second .policies {
    margin-bottom: 20px;
  }
  .footer__second .policies .policy {
    font-size: 14px;
    padding-right: 6px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer__second .socials .social {
    width: -moz-fit-content;
    width: fit-content;
    width: fit-content;
  }
  .footer .copyright {
    font-size: 14px;
  }
}
.missionandvission,
.members {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 800px) {
  .missionandvission,
  .members {
    flex-direction: column;
    gap: 30px;
  }
}
.member__profile {
  display: flex;
  align-items: center;
  gap: 12px;
}
.member__profile__name {
  font-size: 24px;
}

.message {
  background-color: var(--primary-100);
  padding: var(--fs-24);
}
.message__head {
  font-size: 20px;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .member__profile {
    font-size: 20px;
  }
}
.rooms__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 15.625rem;
}
.rooms__filters__filter {
  padding: 0.625rem 1rem;
  background-color: white;
  cursor: pointer;
}
.rooms__filters__active {
  background-color: var(--primary-200);
}
.rooms__filters__inactive {
  background-color: white;
}

.process {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.375rem, 1fr));
  row-gap: 5rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

@media (max-width: 600px) {
  .process {
    row-gap: 0px;
  }
}
.feetable__wrapper {
  padding: 3.125rem;
}

.feetable {
  border-collapse: collapse;
}
.feetable th,
.feetable td {
  border: 2px solid var(--neutral-700);
  padding: 1.125rem 1.875rem;
}

table {
  border-radius: 0.625rem;
}

.contactinfo__para {
  margin-bottom: 1.875rem;
}

.contactinfo__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}
.contactinfo__items__item {
  padding: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
}
.contactinfo__items__item .img {
  padding: 0.375rem;
}

.contactform__wrapper {
  position: relative;
  padding: 6.25rem 5rem;
  width: 100%;
}
.contactform__wrapper .contactform__socials {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  top: -30px;
}
.contactform__wrapper .contactform__socials__social {
  padding: 1rem 3.125rem;
}
.contactform__wrapper .contactform {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 2.5rem;
}
.contactform__wrapper .contactform__feild__label {
  font-size: var(--fs-20);
}
.contactform__wrapper .contactform__feild__input {
  width: 100%;
  padding: 24px;
  height: 4.375rem;
}
.contactform__wrapper .contactform__feild__input::-moz-placeholder {
  color: var(--neutral-400);
}
.contactform__wrapper .contactform__feild__input::placeholder {
  color: var(--neutral-400);
}
.contactform__wrapper .contactform__submit {
  width: 100%;
  padding: 20px 0;
  margin-top: 40px;
  font-size: var(--fs-20);
}

@media (max-width: 600px) {
  .contactform__wrapper {
    padding: 2.5rem 1.875rem 1.875rem 1.875rem;
  }
  .contactform {
    row-gap: 1.875rem;
  }
}
.even-columns {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
}
@media screen and (min-width: 45em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.grid-auto-fit {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

.layout-2 {
  z-index: 1;
  padding: 100px 80px;
  position: relative;
  display: flex;
  gap: 50px;
}
.layout-2__cubes {
  position: absolute;
  top: 0;
  left: 0;
}
.layout-2__left {
  flex: 1;
}
.layout-2__left__tag {
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
}
.layout-2__left__title {
  font-size: var(--fs-38);
  line-height: 130%;
}
.layout-2__right {
  flex: 1;
  line-height: 150%;
}

@media (max-width: 600px) {
  .layout-2 {
    flex-direction: column;
    gap: 20px;
    padding: 50px 30px;
  }
  .layout-2__left {
    text-align: center;
  }
  .layout-2__left__tag {
    margin: 0 auto 10px auto;
  }
  .layout-2__left__title {
    font-size: 28px;
  }
  .layout-2__right {
    text-align: center;
  }
}
.clr-neutral-000 {
  color: var(--neutral-000);
}

.bg-neutral-000 {
  background-color: var(--neutral-000);
}

.clr-neutral-100 {
  color: var(--neutral-100);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

.clr-neutral-200 {
  color: var(--neutral-200);
}

.bg-neutral-200 {
  background-color: var(--neutral-200);
}

.clr-neutral-300 {
  color: var(--neutral-300);
}

.bg-neutral-300 {
  background-color: var(--neutral-300);
}

.clr-neutral-400 {
  color: var(--neutral-400);
}

.bg-neutral-400 {
  background-color: var(--neutral-400);
}

.clr-neutral-500 {
  color: var(--neutral-500);
}

.bg-neutral-500 {
  background-color: var(--neutral-500);
}

.clr-neutral-600 {
  color: var(--neutral-600);
}

.bg-neutral-600 {
  background-color: var(--neutral-600);
}

.clr-neutral-700 {
  color: var(--neutral-700);
}

.bg-neutral-700 {
  background-color: var(--neutral-700);
}

.clr-neutral-800 {
  color: var(--neutral-800);
}

.bg-neutral-800 {
  background-color: var(--neutral-800);
}

.clr-neutral-900 {
  color: var(--neutral-900);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.clr-neutral-1000 {
  color: var(--neutral-1000);
}

.bg-neutral-1000 {
  background-color: var(--neutral-1000);
}

.clr-primary-100 {
  color: var(--primary-100);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.clr-primary-200 {
  color: var(--primary-200);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.clr-primary-300 {
  color: var(--primary-300);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.clr-primary-400 {
  color: var(--primary-400);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}

.clr-primary-500 {
  color: var(--primary-500);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.clr-primary-600 {
  color: var(--primary-600);
}

.bg-primary-600 {
  background-color: var(--primary-600);
}

.clr-primary-700 {
  color: var(--primary-700);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}

.clr-primary-800 {
  color: var(--primary-800);
}

.bg-primary-800 {
  background-color: var(--primary-800);
}

.clr-primary-900 {
  color: var(--primary-900);
}

.bg-primary-900 {
  background-color: var(--primary-900);
}

.clr-accent-100 {
  color: var(--accent-100);
}

.bg-accent-100 {
  background-color: var(--accent-100);
}

.clr-accent-200 {
  color: var(--accent-200);
}

.bg-accent-200 {
  background-color: var(--accent-200);
}

.clr-accent-300 {
  color: var(--accent-300);
}

.bg-accent-300 {
  background-color: var(--accent-300);
}

.clr-accent-400 {
  color: var(--accent-400);
}

.bg-accent-400 {
  background-color: var(--accent-400);
}

.clr-accent-500 {
  color: var(--accent-500);
}

.bg-accent-500 {
  background-color: var(--accent-500);
}

.clr-accent-600 {
  color: var(--accent-600);
}

.bg-accent-600 {
  background-color: var(--accent-600);
}

.clr-accent-700 {
  color: var(--accent-700);
}

.bg-accent-700 {
  background-color: var(--accent-700);
}

.clr-accent-800 {
  color: var(--accent-800);
}

.bg-accent-800 {
  background-color: var(--accent-800);
}

.clr-accent-900 {
  color: var(--accent-900);
}

.bg-accent-900 {
  background-color: var(--accent-900);
}

.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.fs-5 {
  font-size: var(--fs-5);
}

.fs-6 {
  font-size: var(--fs-6);
}

.fs-7 {
  font-size: var(--fs-7);
}

.fs-8 {
  font-size: var(--fs-8);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-15 {
  font-size: var(--fs-15);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-22 {
  font-size: var(--fs-22);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-25 {
  font-size: var(--fs-25);
}

.fs-28 {
  font-size: var(--fs-28);
}

.fs-30 {
  font-size: var(--fs-30);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-34 {
  font-size: var(--fs-34);
}

.fs-38 {
  font-size: var(--fs-38);
}

.fs-40 {
  font-size: var(--fs-40);
}

.fs-48 {
  font-size: var(--fs-48);
}

.fs-50 {
  font-size: var(--fs-50);
}

.section {
  padding-block: clamp(5rem, 10vh, 6rem);
}

.mx-auto {
  margin-inline: auto;
}

.margin-1 {
  margin: 0.25rem;
}
.margin-block-start-1 {
  margin-block-start: 0.25rem;
}
.margin-block-end-1 {
  margin-block-end: 0.25rem;
}
.margin-block-1 {
  margin-block: 0.25rem;
}
.margin-inline-start-1 {
  margin-inline-start: 0.25rem;
}
.margin-inline-end-1 {
  margin-inline-end: 0.25rem;
}
.margin-inline-1 {
  margin-inline: 0.25rem;
}
.margin-bottom-1 {
  margin-bottom: 0.25rem;
}

.padding-1 {
  padding: 0.25rem;
}
.padding-block-start-1 {
  padding-block-start: 0.25rem;
}
.padding-block-end-1 {
  padding-block-end: 0.25rem;
}
.padding-block-1 {
  padding-block: 0.25rem;
}
.padding-inline-start-1 {
  padding-inline-start: 0.25rem;
}
.padding-inline-end-1 {
  padding-inline-end: 0.25rem;
}
.padding-inline-1 {
  padding-inline: 0.25rem;
}

.margin-2 {
  margin: 0.5rem;
}
.margin-block-start-2 {
  margin-block-start: 0.5rem;
}
.margin-block-end-2 {
  margin-block-end: 0.5rem;
}
.margin-block-2 {
  margin-block: 0.5rem;
}
.margin-inline-start-2 {
  margin-inline-start: 0.5rem;
}
.margin-inline-end-2 {
  margin-inline-end: 0.5rem;
}
.margin-inline-2 {
  margin-inline: 0.5rem;
}
.margin-bottom-2 {
  margin-bottom: 0.5rem;
}

.padding-2 {
  padding: 0.5rem;
}
.padding-block-start-2 {
  padding-block-start: 0.5rem;
}
.padding-block-end-2 {
  padding-block-end: 0.5rem;
}
.padding-block-2 {
  padding-block: 0.5rem;
}
.padding-inline-start-2 {
  padding-inline-start: 0.5rem;
}
.padding-inline-end-2 {
  padding-inline-end: 0.5rem;
}
.padding-inline-2 {
  padding-inline: 0.5rem;
}

.margin-3 {
  margin: 0.75rem;
}
.margin-block-start-3 {
  margin-block-start: 0.75rem;
}
.margin-block-end-3 {
  margin-block-end: 0.75rem;
}
.margin-block-3 {
  margin-block: 0.75rem;
}
.margin-inline-start-3 {
  margin-inline-start: 0.75rem;
}
.margin-inline-end-3 {
  margin-inline-end: 0.75rem;
}
.margin-inline-3 {
  margin-inline: 0.75rem;
}
.margin-bottom-3 {
  margin-bottom: 0.75rem;
}

.padding-3 {
  padding: 0.75rem;
}
.padding-block-start-3 {
  padding-block-start: 0.75rem;
}
.padding-block-end-3 {
  padding-block-end: 0.75rem;
}
.padding-block-3 {
  padding-block: 0.75rem;
}
.padding-inline-start-3 {
  padding-inline-start: 0.75rem;
}
.padding-inline-end-3 {
  padding-inline-end: 0.75rem;
}
.padding-inline-3 {
  padding-inline: 0.75rem;
}

.margin-4 {
  margin: 1rem;
}
.margin-block-start-4 {
  margin-block-start: 1rem;
}
.margin-block-end-4 {
  margin-block-end: 1rem;
}
.margin-block-4 {
  margin-block: 1rem;
}
.margin-inline-start-4 {
  margin-inline-start: 1rem;
}
.margin-inline-end-4 {
  margin-inline-end: 1rem;
}
.margin-inline-4 {
  margin-inline: 1rem;
}
.margin-bottom-4 {
  margin-bottom: 1rem;
}

.padding-4 {
  padding: 1rem;
}
.padding-block-start-4 {
  padding-block-start: 1rem;
}
.padding-block-end-4 {
  padding-block-end: 1rem;
}
.padding-block-4 {
  padding-block: 1rem;
}
.padding-inline-start-4 {
  padding-inline-start: 1rem;
}
.padding-inline-end-4 {
  padding-inline-end: 1rem;
}
.padding-inline-4 {
  padding-inline: 1rem;
}

.margin-5 {
  margin: 1.25rem;
}
.margin-block-start-5 {
  margin-block-start: 1.25rem;
}
.margin-block-end-5 {
  margin-block-end: 1.25rem;
}
.margin-block-5 {
  margin-block: 1.25rem;
}
.margin-inline-start-5 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-5 {
  margin-inline-end: 1.25rem;
}
.margin-inline-5 {
  margin-inline: 1.25rem;
}
.margin-bottom-5 {
  margin-bottom: 1.25rem;
}

.padding-5 {
  padding: 1.25rem;
}
.padding-block-start-5 {
  padding-block-start: 1.25rem;
}
.padding-block-end-5 {
  padding-block-end: 1.25rem;
}
.padding-block-5 {
  padding-block: 1.25rem;
}
.padding-inline-start-5 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-5 {
  padding-inline-end: 1.25rem;
}
.padding-inline-5 {
  padding-inline: 1.25rem;
}

.margin-6 {
  margin: 1.5rem;
}
.margin-block-start-6 {
  margin-block-start: 1.5rem;
}
.margin-block-end-6 {
  margin-block-end: 1.5rem;
}
.margin-block-6 {
  margin-block: 1.5rem;
}
.margin-inline-start-6 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-6 {
  margin-inline-end: 1.5rem;
}
.margin-inline-6 {
  margin-inline: 1.5rem;
}
.margin-bottom-6 {
  margin-bottom: 1.5rem;
}

.padding-6 {
  padding: 1.5rem;
}
.padding-block-start-6 {
  padding-block-start: 1.5rem;
}
.padding-block-end-6 {
  padding-block-end: 1.5rem;
}
.padding-block-6 {
  padding-block: 1.5rem;
}
.padding-inline-start-6 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-6 {
  padding-inline-end: 1.5rem;
}
.padding-inline-6 {
  padding-inline: 1.5rem;
}

.margin-7 {
  margin: 1.75rem;
}
.margin-block-start-7 {
  margin-block-start: 1.75rem;
}
.margin-block-end-7 {
  margin-block-end: 1.75rem;
}
.margin-block-7 {
  margin-block: 1.75rem;
}
.margin-inline-start-7 {
  margin-inline-start: 1.75rem;
}
.margin-inline-end-7 {
  margin-inline-end: 1.75rem;
}
.margin-inline-7 {
  margin-inline: 1.75rem;
}
.margin-bottom-7 {
  margin-bottom: 1.75rem;
}

.padding-7 {
  padding: 1.75rem;
}
.padding-block-start-7 {
  padding-block-start: 1.75rem;
}
.padding-block-end-7 {
  padding-block-end: 1.75rem;
}
.padding-block-7 {
  padding-block: 1.75rem;
}
.padding-inline-start-7 {
  padding-inline-start: 1.75rem;
}
.padding-inline-end-7 {
  padding-inline-end: 1.75rem;
}
.padding-inline-7 {
  padding-inline: 1.75rem;
}

.margin-8 {
  margin: 2rem;
}
.margin-block-start-8 {
  margin-block-start: 2rem;
}
.margin-block-end-8 {
  margin-block-end: 2rem;
}
.margin-block-8 {
  margin-block: 2rem;
}
.margin-inline-start-8 {
  margin-inline-start: 2rem;
}
.margin-inline-end-8 {
  margin-inline-end: 2rem;
}
.margin-inline-8 {
  margin-inline: 2rem;
}
.margin-bottom-8 {
  margin-bottom: 2rem;
}

.padding-8 {
  padding: 2rem;
}
.padding-block-start-8 {
  padding-block-start: 2rem;
}
.padding-block-end-8 {
  padding-block-end: 2rem;
}
.padding-block-8 {
  padding-block: 2rem;
}
.padding-inline-start-8 {
  padding-inline-start: 2rem;
}
.padding-inline-end-8 {
  padding-inline-end: 2rem;
}
.padding-inline-8 {
  padding-inline: 2rem;
}

.margin-9 {
  margin: 2.5rem;
}
.margin-block-start-9 {
  margin-block-start: 2.5rem;
}
.margin-block-end-9 {
  margin-block-end: 2.5rem;
}
.margin-block-9 {
  margin-block: 2.5rem;
}
.margin-inline-start-9 {
  margin-inline-start: 2.5rem;
}
.margin-inline-end-9 {
  margin-inline-end: 2.5rem;
}
.margin-inline-9 {
  margin-inline: 2.5rem;
}
.margin-bottom-9 {
  margin-bottom: 2.5rem;
}

.padding-9 {
  padding: 2.5rem;
}
.padding-block-start-9 {
  padding-block-start: 2.5rem;
}
.padding-block-end-9 {
  padding-block-end: 2.5rem;
}
.padding-block-9 {
  padding-block: 2.5rem;
}
.padding-inline-start-9 {
  padding-inline-start: 2.5rem;
}
.padding-inline-end-9 {
  padding-inline-end: 2.5rem;
}
.padding-inline-9 {
  padding-inline: 2.5rem;
}

.margin-10 {
  margin: 3rem;
}
.margin-block-start-10 {
  margin-block-start: 3rem;
}
.margin-block-end-10 {
  margin-block-end: 3rem;
}
.margin-block-10 {
  margin-block: 3rem;
}
.margin-inline-start-10 {
  margin-inline-start: 3rem;
}
.margin-inline-end-10 {
  margin-inline-end: 3rem;
}
.margin-inline-10 {
  margin-inline: 3rem;
}
.margin-bottom-10 {
  margin-bottom: 3rem;
}

.padding-10 {
  padding: 3rem;
}
.padding-block-start-10 {
  padding-block-start: 3rem;
}
.padding-block-end-10 {
  padding-block-end: 3rem;
}
.padding-block-10 {
  padding-block: 3rem;
}
.padding-inline-start-10 {
  padding-inline-start: 3rem;
}
.padding-inline-end-10 {
  padding-inline-end: 3rem;
}
.padding-inline-10 {
  padding-inline: 3rem;
}

.margin-11 {
  margin: 4rem;
}
.margin-block-start-11 {
  margin-block-start: 4rem;
}
.margin-block-end-11 {
  margin-block-end: 4rem;
}
.margin-block-11 {
  margin-block: 4rem;
}
.margin-inline-start-11 {
  margin-inline-start: 4rem;
}
.margin-inline-end-11 {
  margin-inline-end: 4rem;
}
.margin-inline-11 {
  margin-inline: 4rem;
}
.margin-bottom-11 {
  margin-bottom: 4rem;
}

.padding-11 {
  padding: 4rem;
}
.padding-block-start-11 {
  padding-block-start: 4rem;
}
.padding-block-end-11 {
  padding-block-end: 4rem;
}
.padding-block-11 {
  padding-block: 4rem;
}
.padding-inline-start-11 {
  padding-inline-start: 4rem;
}
.padding-inline-end-11 {
  padding-inline-end: 4rem;
}
.padding-inline-11 {
  padding-inline: 4rem;
}

.margin-12 {
  margin: 5rem;
}
.margin-block-start-12 {
  margin-block-start: 5rem;
}
.margin-block-end-12 {
  margin-block-end: 5rem;
}
.margin-block-12 {
  margin-block: 5rem;
}
.margin-inline-start-12 {
  margin-inline-start: 5rem;
}
.margin-inline-end-12 {
  margin-inline-end: 5rem;
}
.margin-inline-12 {
  margin-inline: 5rem;
}
.margin-bottom-12 {
  margin-bottom: 5rem;
}

.padding-12 {
  padding: 5rem;
}
.padding-block-start-12 {
  padding-block-start: 5rem;
}
.padding-block-end-12 {
  padding-block-end: 5rem;
}
.padding-block-12 {
  padding-block: 5rem;
}
.padding-inline-start-12 {
  padding-inline-start: 5rem;
}
.padding-inline-end-12 {
  padding-inline-end: 5rem;
}
.padding-inline-12 {
  padding-inline: 5rem;
}

.margin-13 {
  margin: 6rem;
}
.margin-block-start-13 {
  margin-block-start: 6rem;
}
.margin-block-end-13 {
  margin-block-end: 6rem;
}
.margin-block-13 {
  margin-block: 6rem;
}
.margin-inline-start-13 {
  margin-inline-start: 6rem;
}
.margin-inline-end-13 {
  margin-inline-end: 6rem;
}
.margin-inline-13 {
  margin-inline: 6rem;
}
.margin-bottom-13 {
  margin-bottom: 6rem;
}

.padding-13 {
  padding: 6rem;
}
.padding-block-start-13 {
  padding-block-start: 6rem;
}
.padding-block-end-13 {
  padding-block-end: 6rem;
}
.padding-block-13 {
  padding-block: 6rem;
}
.padding-inline-start-13 {
  padding-inline-start: 6rem;
}
.padding-inline-end-13 {
  padding-inline-end: 6rem;
}
.padding-inline-13 {
  padding-inline: 6rem;
}

.margin-14 {
  margin: 8rem;
}
.margin-block-start-14 {
  margin-block-start: 8rem;
}
.margin-block-end-14 {
  margin-block-end: 8rem;
}
.margin-block-14 {
  margin-block: 8rem;
}
.margin-inline-start-14 {
  margin-inline-start: 8rem;
}
.margin-inline-end-14 {
  margin-inline-end: 8rem;
}
.margin-inline-14 {
  margin-inline: 8rem;
}
.margin-bottom-14 {
  margin-bottom: 8rem;
}

.padding-14 {
  padding: 8rem;
}
.padding-block-start-14 {
  padding-block-start: 8rem;
}
.padding-block-end-14 {
  padding-block-end: 8rem;
}
.padding-block-14 {
  padding-block: 8rem;
}
.padding-inline-start-14 {
  padding-inline-start: 8rem;
}
.padding-inline-end-14 {
  padding-inline-end: 8rem;
}
.padding-inline-14 {
  padding-inline: 8rem;
}

.margin-15 {
  margin: 10rem;
}
.margin-block-start-15 {
  margin-block-start: 10rem;
}
.margin-block-end-15 {
  margin-block-end: 10rem;
}
.margin-block-15 {
  margin-block: 10rem;
}
.margin-inline-start-15 {
  margin-inline-start: 10rem;
}
.margin-inline-end-15 {
  margin-inline-end: 10rem;
}
.margin-inline-15 {
  margin-inline: 10rem;
}
.margin-bottom-15 {
  margin-bottom: 10rem;
}

.padding-15 {
  padding: 10rem;
}
.padding-block-start-15 {
  padding-block-start: 10rem;
}
.padding-block-end-15 {
  padding-block-end: 10rem;
}
.padding-block-15 {
  padding-block: 10rem;
}
.padding-inline-start-15 {
  padding-inline-start: 10rem;
}
.padding-inline-end-15 {
  padding-inline-end: 10rem;
}
.padding-inline-15 {
  padding-inline: 10rem;
}

.margin-150 {
  margin: 9.375rem;
}
.margin-block-start-150 {
  margin-block-start: 9.375rem;
}
.margin-block-end-150 {
  margin-block-end: 9.375rem;
}
.margin-block-150 {
  margin-block: 9.375rem;
}
.margin-inline-start-150 {
  margin-inline-start: 9.375rem;
}
.margin-inline-end-150 {
  margin-inline-end: 9.375rem;
}
.margin-inline-150 {
  margin-inline: 9.375rem;
}
.margin-bottom-150 {
  margin-bottom: 9.375rem;
}

.padding-150 {
  padding: 9.375rem;
}
.padding-block-start-150 {
  padding-block-start: 9.375rem;
}
.padding-block-end-150 {
  padding-block-end: 9.375rem;
}
.padding-block-150 {
  padding-block: 9.375rem;
}
.padding-inline-start-150 {
  padding-inline-start: 9.375rem;
}
.padding-inline-end-150 {
  padding-inline-end: 9.375rem;
}
.padding-inline-150 {
  padding-inline: 9.375rem;
}

@media (max-width: 700px) {
  .margin-bottom-150 {
    margin-bottom: 80px;
  }
}
.container {
  --padding: 1rem * 2;
  --max-width: 64rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type=narrow] {
  --max-width: 40rem;
}

.container[data-type=wide] {
  --max-width: 75rem;
}

.container[data-type=full-bleed] {
  --max-width: 100%;
}

.container_type2 {
  max-width: 1280px;
  margin: 0 auto;
}

.container_type3 {
  max-width: 1399px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container_type2 {
    margin: 0 1rem;
  }
  .container_type3 {
    margin: 0 1rem;
  }
}
.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-extra-bold {
  font-weight: 800;
}

.box-shadow-1 {
  box-shadow: 7px 7px 0px var(--primary-700);
}

.box-shadow-2 {
  box-shadow: 7px 7px 0px var(--neutral-900);
}

.box-shadow-3 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.02), 0px 22px 18px rgba(0, 0, 0, 0.03), 0px 100px 80px rgba(0, 0, 0, 0.05);
}

.box-shadow-4 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.03), 0px 22px 18px rgba(0, 0, 0, 0.042), 0px 100px 80px rgba(0, 0, 0, 0.07);
}

.box-shadow-5 {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.04), 0px 22px 18px rgba(0, 0, 0, 0.06), 0px 100px 80px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.ff-base {
  font-family: "Outfit", sans-serif;
}

.ff-accent {
  font-family: "Raleway", sans-serif;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: var(--flex-column-gap, 1rem);
       column-gap: var(--flex-column-gap, 1rem);
  row-gap: var(--flex-row-gap, 0.5rem);
  width: -moz-fit-content;
  width: fit-content;
}

.flex-group.mx-auto {
  justify-content: center;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.border-radius-8 {
  border-radius: 0.5rem;
}

.border-radius-10 {
  border-radius: 0.625rem;
}

.border-radius-6 {
  border-radius: 0.375rem;
}

.border-radius-4 {
  border-radius: 0.25rem;
}

.border-radius-12 {
  border-radius: 0.75rem;
}

.border-2 {
  border: 2px solid var(--neutral-700);
}

.border-bottom-2 {
  border-bottom: 2px solid var(--neutral-700);
}