@use "../abstracts/" as *;

.border-radius-1 {
  border-radius: $border-radius-1;
}

.border-radius-2 {
  border-radius: $border-radius-2;
}

.border-2 {
  border: 2px solid $color-neutral-700;
}
.border-bottom-2 {
  border-bottom: 2px solid $color-neutral-700;
}
