.accordian {
  display: grid;
  grid-template-columns: repeat(2, minmax(358px, 1fr));
  gap: 40px;
  .accord {
    translate: 0 140%;
    opacity: 0;
    animation: fade ease-in-out forwards;
    animation-duration: 0.6s;
    animation-timeline: view();
    animation-range: 0% 25%;
    padding: 26px 30px;
    flex-basis: calc(50% - 50px);
    height: fit-content;

    &__head {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      .plusminus {
        padding: 9.3px;
      }
    }
    &__body {
      // display: none;
      max-height: 0;
      transition: all 0.6s ease-in-out;
      scale: 0.5;
      opacity: 0;
      &__show {
        scale: 1;
        max-height: 500px;
        opacity: 1;
      }
    }
    .accord__body__active {
      opacity: 1;

      // height: max-content;
    }

    .underline {
      margin-bottom: 20px;
      border-bottom: 2px solid black;
      padding-bottom: 20px;
    }
  }
}
@media (max-width: 900px) {
  .accordian {
    grid-template-columns: repeat(1, minmax(358px, 1fr));
  }
}
@keyframes fade {
  from {
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
