@use "../abstracts/" as *;

// .card {
//   display: grid;
//   gap: $card-flow-spacing;
//   padding: $card-padding;
//   background-color: $card-background-default;
//   font-family: $card-font-family;
//   color: $card-color-default;
//   line-height: $card-line-height;
//   box-shadow: $card-shadow;
//   border-radius: $card-border-radius;

//   &__heading {
//     @include heading($card-heading-font-size, $card-heading-color-default);
//   }
// }

.card-1__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
  grid-row-gap: 68px;
  grid-column-gap: 20px;
}
.card-1 {
  position: relative;
  padding: 60px 40px 40px 40px;
  display: grid;
  row-gap: 1rem;
  grid-row: span 2;
  grid-template-rows: subgrid;
  background-color: white;
  &__img {
    position: absolute;
    padding: 16px;
    top: -32px;
    left: 24px;
    background-color: var(--primary-400);
  }
  &__title {
    font-size: var(--fs-24);
  }
  &__desc {
    line-height: 150%;
  }
}

.card-2 {
  padding: var(--fs-40);
  text-align: center;
  display: grid;
  grid-template-rows: subgrid;

  grid-row: span 3;
  row-gap: 24px;

  .profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stars {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-3 {
  padding: 60px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  row-gap: 40px;
  &__title {
    font-size: var(--fs-34);
    border-bottom: 2px dashed black;
    padding-bottom: var(--fs-24);
  }
  &__button {
    font-size: var(--fs-18);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 18px;
    cursor: pointer;
  }
}

.card-4 {
  flex-basis: 47%;
  // flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-38);
  }
  &__body {
    line-height: 150%;
  }
}

.historycard {
  padding: 100px;
  .history {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 80px;
    &__year {
      display: flex;
      gap: 10px;
      padding: 25px 34px;
      justify-content: center;
      align-items: center;
      font-size: var(--fs-48);
    }
    &__desc {
      flex: 1;
      &__title {
        font-size: var(--fs-24);
        margin-bottom: 1rem;
      }
    }
  }
  .history:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .card-1__wrapper {
    gap: 68px;
  }
  .card-1 {
    &__title {
      font-size: var(--fs-22);
    }
    &__button {
      font-size: var(--fs-4);
    }
  }
  .card-3 {
    &__title {
      font-size: var(--fs-28);
    }
  }
  .card-4 {
    gap: 40px;
    &__head {
      font-size: var(--fs-30);
    }
  }
  .historycard {
    .history {
      &__year {
        font-size: var(--fs-38);
      }
      &__desc {
        &__title {
          font-size: var(--fs-22);
          margin-bottom: 12px;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .historycard {
    .history {
      flex-direction: column;
      gap: 30px;
      margin-bottom: 12px;
      align-items: flex-start;
    }
  }
}
