.explorecards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  row-gap: var(--fs-40);
  column-gap: var(--fs-40);
}

@media (max-width: 950px) {
  .explorecards {
    grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
  }
}
