.member__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  &__name {
    font-size: 24px;
  }
}

.message {
  background-color: var(--primary-100);
  padding: var(--fs-24);
  &__head {
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .member__profile {
    font-size: 20px;
  }
}
